@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import './font.css';
@import './login.css';

body {
    background-color: #012B29;
}

.logoXtra{
    position: relative;
    z-index: 1;
    top:0rem;
    right:0rem;
    cursor: pointer;
    
  }
.logoXtra:hover{
    opacity: 0.8;
}

h1{
    font-family: bungee,Arial, sans-serif;
    font-size: 2rem;
    color:aliceblue;
}

label{
    color:#fff;
    font-family: bungee,Arial, sans-serif;
}

li{
  margin: 0.5rem;
  list-style: none;
}

.profile{
    width: 50px;
    height: 50px;
    cursor: pointer;
    opacity: 0.8;
}

.profile:hover{
    opacity: 1;
}

.box{
    color:#E5C8C8;
    background-color:#096662;
    padding: 3px;
    border-radius: 8px;
    border: 2px solid #E5C8C8;
}

.box:hover{
    color: #096662;
    background-color: #E5C8C8;
}

.delBtn{
      margin: 1rem;;
    width: 40px !important;
    height: 40px !important;
    background-color: transparent !important;
    display: flex;
    justify-content: center;
    align-items: center; 
    box-shadow: none !important;
    border: none !important;
    opacity: 0.7;
    cursor: pointer;
}
.delBtn:hover{
    opacity: 1;
}

.addbtn{
    height: 5rem;
    margin: auto;
    opacity: 0.8;
}
.addbtn:hover{
    opacity: 1;
}
.delImg{
     position:relative; 
    display: flex;
    align-items: center;
    align-content:space-around;
    align-items: center;
    height: 15px;
    width: 15px;
    margin-left: 5%;
    margin-right: 20%;
}

section{
    /* display: flex; */
    position: absolute;
}

.wrapbox {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    background-color: transparent;
    padding: 0;
    width: 80%;
  
    z-index: 0;
    /* overflow-y: scroll;
    scrollbar-width: thin; */
    /* scrollbar-color: #3eb885 #f1f1f1; For Firefox */
}

.boxconcert, .boxNewUser {
    display: flex;
    z-index: 0;
    cursor: pointer;
}

.boxconcert:hover{
 opacity: 0.8;
}

.btnConcert{
    background-color: #2d8a50 ;
    border-radius: 5px;
    text-align: center; 
    height:8rem;
    width: 8rem;
    margin-left: 1rem;
}

.boxForm{
    display: flex;
    /* position: relative; */
    text-align: center; /* Center-align text */
    align-items: center;
    background-color: #2d8a50;
    border-radius: 5px;
    z-index: 0;
    cursor: pointer;
}
.boxconcert{
    text-align: center; /* Center-align text */
    align-items: center;
    background-color: transparent;
    border-radius: 5px;
    z-index: 0;
    cursor: pointer;
    padding: 2px;
    margin: 10px;
    height: 9rem;
    width: 180px;
   }

.boxNewUser{
 position: absolute;
right:10%;
transform: translateY(-15rem);
z-index: 2;
padding: 10px;
margin: 10px;
height: 5rem;
width: 200px;
}

 .text, .textMenu{
     list-style: none;
    position: relative;
    text-align: center;
    /* margin:5px 30px 5px 30px; */
    font-family: bungee,Arial, sans-serif;
    font-size: 13px;
    color: #ffffff;
    z-index: 0;
    opacity: 1;
    /* background-color: #096662; */
    /* border-radius: 20%; */
  }
.title{
      color: #ffffff;
       font-family: bungee,Arial, sans-serif;
       font-weight: 200;
           font-size: 3rem;
           opacity: 0.9;
}

 .addConcert{
            justify-content: center;
            align-content: center;
            display: flex;
            flex-direction: column;
            width:40%;
              margin: 40px auto; 
              padding: 10px;
              background-color: #E5C8C8;
              border-radius: 5%;
 }

    .addConcert input{
                width: 100%;
                height: 2rem;
                border-radius: 5px;
                border: none;
    }

