{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<a href="{{ path('app_adminConcerts') }}" class="btn btn-success"> 
<img class="logoXtra" src="{{ asset('images/preview.png') }}" alt="logo">
</a>
<h1>Ajouter ou modifier un lieu</h1>

<label>Ajouter</label>
<input
   type="radio"
    value="add"
>

<label>Modifier</label>
<input
   type="radio"
      value="modify"
>

<div class="form">
<form id="poiForm" action="{{ path('post_poi') }}" method="post">
    {{ form_widget(form) }}
    <button type="submit">Ajouter</button>
    <button class="box" type="button" onclick="window.history.back()">Retour</button>
</form>
</div>



{% endblock %}