{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<a href="{{ path('app_adminConcerts') }}" class="btn btn-success"> 
    <img class="logoXtra" src="{{ asset('images/preview.png') }}" alt="logo">
</a>
<h1>Ajouter ou modifier un lieu</h1>

<div>
    <button class="boxconcert">
    <a href="{{ path('post_poi') }}" class="btn btn-success"> 
    <div class="btnConcert">
       <p class="text">Ajouter</p>
    </div>
    </a>
    </button>
    <button  class="boxconcert">
     <div class="btnConcert">
        <p class="text">Modifier</p>
        </div>
    </button>
</div>

{% endblock %}