{% extends 'base.html.twig' %}
{% block body %}
<h1>Modifier le lieu</h1>
<div class="form">
    <form method="post" action="{{ path('update_poi', {'id': poi.id}) }}">
        {{ form_widget(form) }}
        <button type="submit">Modifier</button>
    </form>
</div>
{% endblock %}